.default {
    border: black 1px solid;
    margin-left: 5px;
    background-color: rgb(175, 243, 255);
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px black;
    margin: 5px;
}

.default:hover {
    background-color: aquamarine;
    transform: scale(1.2);
}

.default:focus {
    outline: none;
}

.default:active {
    background-color: cornflowerblue;
}

.red {
    color: red;
    border: black 1px solid;
    margin-left: 5px;
    border-radius: 5px;
    border: none;
    box-shadow: 2px 2px 4px rgb(255, 0, 0);
    background-color: white;
}

.red:hover {
    background-color: rgb(255, 127, 159);
    transform: scale(1.2);
}
